<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h2>
      <span>Modwat.ch</span>
    </h2>
    <span flex></span>
    <md-button class="md-raised" style="color: #000000" ng-click="vm.logOut()" aria-label="Log Out">
      Log Out
    </md-button>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <section layout="row">
    <md-input-container flex>
      <label>Profile</label>
      <md-select ng-model="vm.view.currentProfile" aria-label="Select a Profile" ng-change="vm.switchProfile(vm.view.currentProfile)">
        <md-option ng-repeat="profile in vm.profiles">
          {{profile}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label>Games</label>
      <md-select ng-model="vm.view.game" aria-label="Select a Game" ng-change="vm.setGame(vm.view.game)">
        <md-option ng-repeat="game in vm.games" value="{{game.val}}">
          {{game.display}}
        </md-option>
      </md-select>
    </md-input-container>
  </section>
  <section layout="row">
    <md-input-container flex>
      <label>Tag</label>
      <input aria-label="Profile Tag" type="text" ng-model="vm.view.tag" ng-blur="vm.setTag(vm.view.tag)" />
    </md-input-container>
    <md-input-container flex>
      <label>ENB</label>
      <input aria-label="Profile ENB" type="text" ng-model="vm.view.enb" ng-blur="vm.setEnb(vm.view.enb)" />
    </md-input-container>
  </section>
  <section layout="center center" flex>
    <md-tabs md-dynamic-height md-selected="vm.currentTab" style="flex:1" md-stretch-tabs="always">
      <md-tab label="Mod Organizer" md-on-select="vm.setDefaultManager('MO')">
        <div layout="row">
          <md-button aria-label="Get MO Profile Folder" class="md-fab md-raised md-primary" ng-click="vm.mo.getFiles()">
            <svg style="fill: #FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" height="100%" width="75%">
              <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path>
            </svg>
          </md-button>
          <md-input-container class="full-width" flex>
            <label>Mod Profile Directory</label>
            <input aria-label="MO Profile Path" type="text" ng-model="vm.profile.mo.path" readonly />
          </md-input-container>
        </div>
      </md-tab>
      <md-tab label="Nexus Mod Manager" md-on-select=vm.setDefaultManager('NMM')>
        <div layout="row">
          <md-button aria-label="Get Plugins File" class="md-fab md-raised md-primary" ng-click="vm.nmm.getPluginsFile()">
            <ng-md-icon>
              <svg style="fill: #FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" height="100%" width="75%">
                <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path>
              </svg>
            </ng-md-icon>
          </md-button>
          <md-input-container class="full-width" flex>
            <label>plugins.txt directory</label>
            <input aria-label="Plugins.txt File Path" type="text" ng-model="vm.profile.nmm.pluginsPath" readonly />
          </md-input-container>
        </div>
        <div layout="row">
          <md-button aria-label="Get Ini Files" class="md-fab md-raised md-primary" ng-click="vm.nmm.getIniFiles()">
            <svg style="fill: #FFFFFF" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" height="100%" width="75%">
              <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path>
            </svg>
          </md-button>
          <md-input-container class="full-width" flex>
            <label>ini file directory</label>
            <input aria-label="Ini File Path" type="text" ng-model="vm.profile.nmm.iniPath" readonly />
          </md-input-container>
        </div>
      </md-tab>
    </md-tabs>
  </section>
  <section layout="row" layout-align="center">
    <md-chips ng-model="vm.files" readonly="true">
      <md-chip-template>{{$chip.display}}</md-chip-template>
    </md-chips>
  </section>
  <div layout="row" layout-align="center center" flex>
    <md-button aria-label="Add Profile" class="md-raised md-primary" ng-click="vm.addProfile()">
      Add Profile
    </md-button>
    <md-button aria-label="Delete Profile" class="md-raised md-warn" ng-disabled="!vm.view.currentProfile" ng-click="vm.removeProfile(vm.view.currentProfile)">
      Delete Profile
    </md-button>
    <md-button aria-label="Upload to Modwatch" class="md-raised md-primary" ng-disabled="!vm.canUpload()" ng-click="vm.uploadMods()">
      Upload
    </md-button>
  </div>
</md-content>
