<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Modwat.ch Login</div>
  </md-toolbar>
<md-content class="md-padding">
  <section layout="center center" flex>
    <md-tabs md-dynamic-height md-selected="vm.currentTab" style="flex:1" md-stretch-tabs="always">
      <md-tab label="Login" md-on-select="loginForm.$setUntouched()">
        <form name="loginForm">
          <md-input-container flex>
            <label>Username</label>
            <input aria-label="Username" required type="text" ng-blur="vm.checkUsernameLogin(vm.login.username)" ng-model="vm.login.username" />
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input aria-label="Password" required type="password" ng-model="vm.login.password" />
          </md-input-container>
        </form>
        <div layout="row" layout-align="center center" flex>
          <md-button aria-label="Login" class="md-raised md-primary" ng-disabled="!vm.canLogin()" ng-click="vm.logIn()">
            Login
          </md-button>
        </div>
      </md-tab>
      <md-tab label="Create Account" md-on-select="createForm.$setUntouched()">
        <form name="createForm">
          <md-input-container flex>
            <label>Username</label>
            <input aria-label="Username" required type="text" ng-blur="vm.checkUsernameCreate(vm.create.username)" ng-model="vm.create.username" />
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input aria-label="Password" required type="password" ng-model="vm.create.password" />
          </md-input-container>
        </form>
        <div layout="row" layout-align="center center" flex>
          <md-button aria-label="Create Account" class="md-raised md-primary" ng-disabled="!vm.canCreate()" ng-click="vm.createAccount()">
            Create
          </md-button>
        </div>
      </md-tab>
    </md-tabs>
  </section layout="center center" flex>
  <section flex>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="commit in vm.lastCommits">
        <md-subheader class="md-no-sticky">Last Commit</md-subheader>
        <a ng-click="vm.goToUrl(commit.url)">
          <div style="cursor:pointer;" class="md-list-item-text" layout="column">
            <h3>{{ commit.author }}</h3>
            <h4>{{ commit.timestamp|date}}</h4>
            <p>{{ commit.message }}</p>
          </div>
        </a>
      </md-list-item>
    </md-list>
  </section>
</md-content>
