<!DOCTYPE html>
<html>

<head>
  <title>Hello World!</title>
  <link rel="stylesheet" href="deps/angular-material.min.css">
  <link type="text/css" href="deps/material-icons.css" rel="stylesheet">
  <script type="text/javascript" src="deps/angular.js"></script>
  <script type="text/javascript" src="deps/angular-animate.min.js"></script>
  <script type="text/javascript" src="deps/angular-aria.min.js"></script>
  <script type="text/javascript" src="deps/angular-material.js"></script>
  <script type="text/javascript" src="src/js/ng.js"></script>
</head>

<body ng-app="uploader" ng-controller="MainCtrl">
  <md-toolbar style="margin-bottom: 20px;">
    <h1 style="margin-left: 20px;">Modwat.ch Uploader</h1>
  </md-toolbar>
  <md-content layout="column" layout-align="left center" style="margin: 0 50px;">
    <section layout="row">
      <md-input-container flex>
        <label>Username</label>
        <input type="text" ng-model="userInfo.username" />
      </md-input-container>
      <md-input-container flex>
        <label>Password</label>
        <input type="password" ng-model="userInfo.password" />
      </md-input-container>
    </section>
    <md-tabs md-dynamic-height md-selected="currentTab">
      <md-tab label="Mod Organizer">
        <md-input-container>
          <label>Mod Profile Directory</label>
          <input disabled type="text" ng-model="mo.filepath" />
        </md-input-container>
        <section layout="row" layout-align="center">
          <md-button class="md-raised md-primary" ng-disabled="!userInfo.username || !userInfo.password" ng-click="saveUser('MO')">
            Save
            <md-tooltip>
              Remember your login info
            </md-tooltip>
          </md-button>
          <md-button class="md-raised md-primary" ng-click="mo.getFiles()">
            Get Files
            <md-tooltip>
              Your MO mod profile folder
            </md-tooltip>
          </md-button>
          <md-button class="md-raised md-primary" ng-disabled="!userInfo.username || !userInfo.password || !mo.filepath" ng-click="uploadMods()">
            Upload
            <md-tooltip>
              Send to modwat.ch
            </md-tooltip>
          </md-button>
        </section>
      </md-tab>
      <md-tab label="Nexus Mod Manager">
        <div  layout="row">
          <md-input-container flex>
            <label>plugins.txt directory</label>
            <input disabled type="text" ng-model="nmm.pluginsPath" />
          </md-input-container>
          <md-input-container flex>
            <label>ini file directory</label>
            <input disabled type="text" ng-model="nmm.iniPath" />
          </md-input-container>
        </div>
        <section layout="column">
          <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary" ng-click="nmm.getPluginsFile()">
              plugins.txt
              <md-tooltip>
                Your plugins.txt folder
              </md-tooltip>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="nmm.getIniFiles()">
              .ini files
              <md-tooltip>
                Your Ini Files
              </md-tooltip>
            </md-button>
          </div>
          <div layout="row" layout-align="center">
            <md-button class="md-raised md-primary" ng-disabled="!userInfo.username || !userInfo.password" ng-click="saveUser('NMM')">
              Save
              <md-tooltip>
                Remember your login info
              </md-tooltip>
            </md-button>
            <md-button class="md-raised md-primary" ng-disabled="!userInfo.username || !userInfo.password || !nmm.pluginsPath || !nmm.iniPath" ng-click="uploadMods()">
              Upload
              <md-tooltip>
                Send to modwat.ch
              </md-tooltip>
            </md-button>
          </div>
        </section>
      </md-tab>
    </md-tabs>
    <section layout="row" layout-align="center">
      <md-chips>
        <md-chip ng-repeat="file in files">{{file.display}}</md-chip>
      </md-chips>
    </section>
  </md-content>
  <script type="text/ng-template" id="versiontoast.html">
    <md-toast>
      <span flex>You are not using the <a href="http://www.nexusmods.com/skyrim/mods/56640/?">latest stable version</a></span>
    </md-toast>
  </script>
  <script type="text/ng-template" id="uploaddonetoast.html">
    <md-toast>
      <span flex>Mods uploaded successfully!</span>
    </md-toast>
  </script>
  <script type="text/ng-template" id="serverdowntoast.html">
    <md-toast>
      <span flex>The modwat.ch api server is not responding</span>
    </md-toast>
  </script>
  <script type="text/ng-template" id="savedinfotoast.html">
    <md-toast>
      <span flex>Login info saved successfully</span>
    </md-toast>
  </script>
</body>

</html>
